/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  font-family: 'Montserrat', sans-serif;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Navigation */

.primary-navigation {
  width: 100vw;
  box-shadow: 0 0 10px #e1e5ee;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  margin: 0 2rem;
}

.nav-logo {
  margin-right: auto;
  cursor: pointer;
}

.nav-list-item {
  font-weight: bold;
  position: relative;
  padding: 1.5rem 1rem;
  cursor: pointer;
}

.nav-list-item::after {
  content: "";
  width: 0;
  height: 0.3rem;
  border-radius: 0.2rem;
  position: absolute;
  left: 1rem;
  bottom: 0.8rem;
  background-color: rgb(64, 99, 246);
  transition: width 200ms ease-in;
}

.nav-list-item:hover::after,
.nav-list-item:focus::after {
  width: 80%;
}

.nav-list-item:hover ul {
  opacity: 1;
  visibility: visible;
}

.nav-list-drop {
  position: absolute;
  top: 4.5rem;
  left: -4rem;
  box-shadow: 0 0 10px #fce4ec;
  background-color: white;
  border-radius: 0.2rem;
  width: 12rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out;
  z-index: 3;
}

li {
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  transition: background-color 200ms ease-in-out;
}

.nav-list-drop li:hover {
  background-color: rgb(226, 234, 255);
}

li a {
  text-decoration: none;
  color: #222222;
}

a {
  display: block;
}

.active {
  background-color: rgb(226, 234, 255);
}

/* Main */

main {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

/* Form */

.container {
  box-shadow: 0 0 10px #fce4ec;
  padding: 1.25rem 2.5rem;
  border-radius: 0.3125rem;
}

.container h1 {
  text-align: center;
  margin-bottom: 1.875rem;
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background-color: rgb(64, 99, 246);
  color: #ffffff;
  padding: 0.9375rem;
  border: 0;
  border-radius: 0.3125rem;
  margin-bottom: 0.9375rem;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}

.form-control {
  position: relative;
  margin: 1.25rem 0 2.5rem;
  width: 18.75rem;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 0.125rem #222222 solid;
  display: block;
  width: 100%;
  padding: 0.9375rem 0;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: rgb(64, 99, 246);
}

.form-control label {
  position: absolute;
  top: 0.9375rem;
  left: 0;
}

.form-control label span {
  display: inline-block;
  font-size: 1.125rem;
  min-width: 0.3125rem;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: rgb(64, 99, 246);
  transform: translateY(-30px);
}







